<h1>商品一覧(admin)</h1>
<div>
  <%= flash[:success] %>
</div>

<% @items.each do |item| %>
    <p>商品id：<%= item.id %><p>
    <p>商品名：<%= item.name %><p>
    <p>税抜価格：<%= item.price %><p>
    <p>ジャンル：<%= item.genre.name %><p>
    <p>販売ステータス：<%= item.is_deleted %><p>
    <p>---------------------------------------------------</p>
<% end %>

<%= link_to "商品新規登録", new_admin_item_path%>